In [22]:
import random
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

Excel Generator for Document Created and Pick-Up Date

In [23]:
listCategories=['Commercial Lines','Personal Lines','Claims','Flood','HNW' ]
listSubCategories_CL=['CAN','CL Error','CL NEW','REN','REI','ROF']
listSubCategories_PL=['CAN','CL Error','CL NEW','REN','REI','ROF']
listSubCategories_Claims=['ACK','CAT','CLOSE','IR-CLAIMS']
listSubCategories_Flood=['Call backs','Discrpency','Quotes']
listSubCategories_HNW=['Discrpency','MKT','HNW1','HNW2','HNW3','HNW4']

In [24]:
df=pd.DataFrame()

In [25]:
Category=random.choices(listCategories,k=500)

In [26]:
df = pd.DataFrame({'Category':Category})

In [27]:
df.head()

           Category
0               HNW
1               HNW
2               HNW
3            Claims
4  Commercial Lines

In [28]:
def subCat_Selection(df):
    #listCategories=['Commercial Lines','Personal Lines','Claims','Flood','HNW' ]
    if df['Category'].__eq__('Commercial Lines'):
        return random.choice(listSubCategories_CL)
    elif df['Category'].__eq__('Personal Lines'):
        return random.choice(listSubCategories_PL)
    elif df['Category'].__eq__('Claims'):
        return random.choice(listSubCategories_Claims)
    elif df['Category'].__eq__('Flood'):
        return random.choice(listSubCategories_Flood)
    elif df['Category'].__eq__('HNW'):
        return random.choice(listSubCategories_HNW)

In [29]:
df['Sub-Category'] = df.apply(lambda row: subCat_Selection(row), axis=1)

In [30]:
df.head()

           Category Sub-Category
0               HNW         HNW2
1               HNW   Discrpency
2               HNW         HNW3
3            Claims        CLOSE
4  Commercial Lines          REI

In [33]:
# Generating Random Dates
start_date = pd.to_datetime('2022-10-01')
end_date = pd.to_datetime('2022-10-10')

In [36]:
def random_dates_selector(start,end,n,unit='D',seed=None):
    if not seed:
        np.random.seed(0)
    ndays = (end-start).days+1
    return pd.to_timedelta(np.random.rand(n)*ndays,unit=unit)+start

In [37]:
createdDate_list=list()
createdDate_list = random_dates_selector(start_date,end_date,500)

In [38]:
df['Created_Date'] = createdDate_list

In [39]:
df.head()

           Category Sub-Category                  Created_Date
0               HNW         HNW2 2022-10-06 11:42:54.867369600
1               HNW   Discrpency 2022-10-08 03:38:43.612569600
2               HNW         HNW3 2022-10-07 00:39:47.556950400
3            Claims        CLOSE 2022-10-06 10:46:19.070112000
4  Commercial Lines          REI 2022-10-05 05:40:37.746595200