Excel Generator for Different Categories and Sub Categories with Assigned to and SLA

In [38]:
listCategories=['Commercial Lines','Personal Lines','Claims','Flood','HNW' ]
listSubCategories_CL=['CAN','CL Error','CL NEW','REN','REI','ROF']
listSubCategories_PL=['CAN','CL Error','CL NEW','REN','REI','ROF']
listSubCategories_Claims=['ACK','CAT','CLOSE','IR-CLAIMS']
listSubCategories_Flood=['Call backs','Discrpency','Quotes']
listSubCategories_HNW=['Discrpency','MKT','HNW1','HNW2','HNW3','HNW4']
listSLA=[8,12,24,48]
listAssociates=['Ajay Upadhyaya','Marvin Raj','Vijay Shevate','Akanksha Jadhav','John Doe','Tom Hanks','Virat Sharma']

In [66]:
import random
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [ ]:
df=pd.DataFrame()

In [40]:
Category=random.choices(listCategories,k=100)
sla_data=random.choices(listSLA,k=100)
Assigned_Associate = random.choices(listAssociates,k=100)

In [41]:
df = pd.DataFrame({'Category':Category,'SLA':sla_data,'Assigned Associate':Assigned_Associate})

In [ ]:
df.head()

In [42]:
# Adding Today's Date as Document Received

df['Date_Received']=datetime.today()

In [43]:
def subCat_Selection(df):
    #listCategories=['Commercial Lines','Personal Lines','Claims','Flood','HNW' ]
    if df['Category'].__eq__('Commercial Lines'):
        return random.choice(listSubCategories_CL)
    elif df['Category'].__eq__('Personal Lines'):
        return random.choice(listSubCategories_PL)
    elif df['Category'].__eq__('Claims'):
        return random.choice(listSubCategories_Claims)
    elif df['Category'].__eq__('Flood'):
        return random.choice(listSubCategories_Flood)
    elif df['Category'].__eq__('HNW'):
        return random.choice(listSubCategories_HNW)

In [44]:
df['Sub-Category'] = df.apply(lambda row: subCat_Selection(row), axis=1)

In [84]:
df.head()
#df.drop(['Hours_Remaining_For_SLA'],axis=1,inplace=True)

,Category,SLA,Assigned Associate,Date_Received,Sub-Category,SLA_Time_Elapsed,Time_Remaining_For_SLA
0,Claims,48,Ajay Upadhyaya,2022-10-04 14:38:56.041618,IR-CLAIMS,2022-10-02 14:38:56.041618,-48.0
1,Claims,24,Ajay Upadhyaya,2022-10-04 14:38:56.041618,ACK,2022-10-03 14:38:56.041618,-24.0
2,Commercial Lines,24,Ajay Upadhyaya,2022-10-04 14:38:56.041618,CAN,2022-10-03 14:38:56.041618,-24.0
3,Claims,8,Virat Sharma,2022-10-04 14:38:56.041618,CAT,2022-10-04 06:38:56.041618,-8.0
4,Personal Lines,8,John Doe,2022-10-04 14:38:56.041618,CAN,2022-10-04 06:38:56.041618,-8.0

In [87]:
df['SLA_Time_Elapsed']=''
for i in range(len(df)):
    df.loc[i,'SLA_Time_Elapsed'] = pd.to_datetime(df.loc[i,'Date_Received'])+timedelta(hours=int(df.loc[i,'SLA']))

In [105]:
df['SLA_Time_Elapsed'] = pd.to_datetime(df['SLA_Time_Elapsed'], errors='coerce')

df['Time_Remaining_For_SLA'] = (df['SLA_Time_Elapsed'] - datetime.today()).dt.total_seconds() / 60 / 60

In [106]:
df.head()

,Category,SLA,Assigned Associate,Date_Received,Sub-Category,SLA_Time_Elapsed,Time_Remaining_For_SLA
0,Claims,48,Ajay Upadhyaya,2022-10-04 14:38:56.041618,IR-CLAIMS,2022-10-06 14:38:56.041618,44.837187
1,Claims,24,Ajay Upadhyaya,2022-10-04 14:38:56.041618,ACK,2022-10-05 14:38:56.041618,20.837187
2,Commercial Lines,24,Ajay Upadhyaya,2022-10-04 14:38:56.041618,CAN,2022-10-05 14:38:56.041618,20.837187
3,Claims,8,Virat Sharma,2022-10-04 14:38:56.041618,CAT,2022-10-04 22:38:56.041618,4.837187
4,Personal Lines,8,John Doe,2022-10-04 14:38:56.041618,CAN,2022-10-04 22:38:56.041618,4.837187

In [107]:
df.to_excel('Dummy_Data.xlsx',index=False)